@import "materialize/components/color-variables";
$primary-color: color("grey", "darken-2") !default;
$secondary-color: color("teal", "darken-1") !default;
@import "materialize";


body nav{ 
	box-shadow: none;
	background-color: transparent
}

.page-footer{
	background-color: transparent
}

.sidenav-trigger{
	color: gray
}

.margined {
  margin: .2em;
}
