// Place all the styles related to the Site controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

th{
        white-space: nowrap
}

td, th {
    display: table-cell;
    text-align: left;
    vertical-align: top;
}

