<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Falcon</h5>
        <p class="grey-text text-lighten-4">Leverage the power of software</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">More information</h5>
        <ul>
          <li><%= link_to 'Contact Us', '#', class: "grey-text text-lighten-3"  -%></li>
         </ul>
        </div>
       </div>
      </div>
     <div class="footer-copyright">
     <div class="container"> © 2005 - <%= Date.today.year -%> Copyright Public Personnel</div>
  </div>
</footer>
