<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
      </div>
      <div class="col l4 offset-l2 s12">       
      </div>
    </div>
  </div>
  <div class="grey-text text-lighten-4"> © 2005 - <%= Date.today.year -%> Copyright Public Personnel</div>
</footer>
